dl {
  font-size: 0;
  text-align: center;
}
dl dt {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}
dl dt span {
  display: block;
  color: #ebedee;
}
dl dt:first-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 2rem;
  background: #ebedee;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
dl dt:first-child span {
  color: #3498db;
  display: inline-block;
  text-align: center;
}
dl dt:first-child:before,
dl dt:first-child:after {
  content: '';
  position: absolute;
}
dl dt:first-child:before {
  left: 40%;
  border-width: 1rem;
  border-style: solid;
  border-color: #34495e #ebedee #ebedee #34495e;
}
dl dt:first-child:after {
  left: 55%;
  border-width: 1rem;
  border-style: solid;
  border-color: #34495e #34495e #ebedee #ebedee;
}
dl dt:nth-child(2) {
  margin-left: -0.5rem;
}
