#countdown dt {
  margin-left: 1rem;
}
#countdown dt input {
  font-size: 1.3rem !important;
}
#countdown dt span {
  display: block;
  color: #ebedee;
}
#countdown dt canvas {
  -webkit-box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
  box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
}
#countdown dt:nth-child(1) {
  margin-left: 0.5rem;
}
.social {
  text-align: center;
}
.social:before,
.social:after {
  content: " ";
  display: table;
}
.social:after {
  clear: both;
}
.social iframe,
.social > div {
  display: block !important;
  float: left !important;
  width: 33.333333333333336% !important;
}
