form input {
  border: none;
  padding: 0.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 2.5rem;
  -webkit-border-radius: 1rem 0 0 1rem;
  -moz-border-radius: 1rem 0 0 1rem;
  -ms-border-radius: 1rem 0 0 1rem;
  -o-border-radius: 1rem 0 0 1rem;
  border-radius: 1rem 0 0 1rem;
}
form button {
  padding: 0.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  background-color: COLOR_HEADER;
  color: #ebedee;
  -webkit-border-radius: 0 1rem 1rem 0;
  -moz-border-radius: 0 1rem 1rem 0;
  -ms-border-radius: 0 1rem 1rem 0;
  -o-border-radius: 0 1rem 1rem 0;
  border-radius: 0 1rem 1rem 0;
}
