picture img {
  max-width: 100%;
}
picture.img-speaker img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  border: 0.2rem dotted #e67e22;
}
img.responsive {
  max-width: 100%;
}
img.portada {
  padding: 0;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 0.25rem solid #ebedee;
}
img.xcoreisc {
  position: relative;
  display: block;
  margin: 0 auto;
  top: -3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 6rem;
  border: 0.2rem solid #34495e;
}
img.unprg,
img.apeisc {
  position: absolute;
  top: -2.5rem;
  left: 30%;
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #ebedee;
  border: 0.1rem solid #34495e;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/************************** WIDTH ***********************/
.w100 {
  width: 100%;
}
/************************ borders ************************/
.radius-small {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
/**************** TEXT *************************************/
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
/**************** colors ********************************/
.bck-sky-blue {
  background-color: #5fccff;
}
.bck-theme {
  background-color: #3498db;
}
.bck-white {
  background-color: #ebedee;
  color: #34495e;
}
.bck-green {
  background-color: #16a085;
}
.bck-orange {
  background-color: #e67e22;
}
.bck-dark {
  background-color: #34495e;
}
.bck-dark-2 {
  background-color: #0a0f13;
}
.bck-glass {
  background-color: #1d6ca1;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.color-orange {
  color: #e67e22;
}
.color-white {
  color: #ebedee;
}
.color-dark {
  color: #34495e;
}
.color-sky-blue {
  color: #5fccff;
}
/***************** MARGINS, PADDINGS ********/
.margin-none {
  margin: 0;
}
.margin {
  margin: 1rem;
}
.margin-2 {
  margin: 2rem;
}
.margin-left {
  margin-left: 1rem;
}
.margin-right {
  margin-right: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-top-6 {
  margin-top: 6rem;
}
.margin-bottom {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.padding-none {
  padding: 0;
}
.padding {
  padding: 1rem;
}
.padding-small {
  padding: 0.5rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-top-4 {
  padding-top: 4rem;
}
.padding-bottom-4 {
  padding-bottom: 4rem;
}
/****************** figures *************************/
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.circle.d4 {
  width: 4rem;
  height: 4rem;
  padding: 1.3rem 1rem;
}
.border-vertical {
  position: relative;
}
.border-vertical:before,
.border-vertical:after {
  content: "";
  position: absolute;
}
.border-vertical:before {
  left: 49%;
  top: 1.5rem;
  height: 70rem;
  border-right: 0.25rem solid #ebedee;
}
.subtitle {
  display: block;
  color: #ebedee;
  text-align: center;
  padding: 0.5rem 0;
}
/*

@import "reset.styl"
@import "countdown.styl"
@import "cronograma.styl"
@import "forms.styl"
@import "helpers.styl"
@import "modals.styl"
@import "nav.styl"
@import "navbar.styl"
@import "tables.styl"
@import "text.styl"
@import "responsive.styl"

*/
/***********************  XCOREISC ************************************/
.border-precio {
  border: 0.2rem solid #3498db;
}
.bck-blue {
  background-color: #293863;
}
.border-right {
  border-right: 0.1rem solid #5fccff;
}
.date-fullDay:after {
  content: "2 de Diciembre";
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3.5rem;
}
.xcoreisc-sn {
  font-weight: bold;
  color: #ebedee;
  display: block;
  margin-top: 0.5rem;
}
.button-nav {
  background-color: #34495e !important;
  left: 14rem !important;
}
.hr-orange {
  border-bottom: 0.1rem solid #f3bf91;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
