* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
fieldset,
ul,
ol,
figcaption,
figure,
picture,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
}
table td {
  padding: 0;
}
fieldset,
ul {
  padding: 0;
  border: none;
}
a {
  outline: 0;
  text-decoration: none;
}
dl {
  font-size: 0;
  text-align: center;
}
dl dd {
  font-size: 1rem;
}
dl dt {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.cronograma {
  display: block;
}
.cronograma h2 {
  display: block;
  padding: 0.5rem 0;
  color: #fff;
  background-color: #4a87ee;
}
.cronograma table {
  text-align: center;
  display: block;
  background-color: #fff;
}
.cronograma table tr {
  display: block;
  font-size: 0;
  border-bottom: 0.1rem solid #4a87ee;
}
.cronograma table tr:first-child {
  border-top: 0.1rem solid #4a87ee;
}
.cronograma table tr:nth-child(4) td:nth-child(2) {
  position: relative;
}
.cronograma table tr:nth-child(4) td:nth-child(2) a {
  color: #34495e;
}
.cronograma table tr:nth-child(4) td:nth-child(2):after {
  font-family: "FontAwesome";
  content: "\f055";
  color: #fff;
  text-shadow: 0 0 2px #34495e;
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 0.5rem;
}
.cronograma table tr:nth-child(6) td:nth-child(1) {
  position: relative;
  top: 5rem;
}
.cronograma table tr:nth-child(6) td:nth-child(2),
.cronograma table tr:nth-child(6) td:nth-child(3) {
  border-bottom: 0.1rem solid #4a87ee;
}
.cronograma table tr:nth-child(6) td:nth-child(3),
.cronograma table tr:nth-child(6) td:nth-child(4) {
  margin-left: 15%;
}
.cronograma table tr:nth-child(6) td:nth-child(3),
.cronograma table tr:nth-child(6) td:nth-child(4) {
  display: block;
}
.cronograma table tr:nth-child(6) td:nth-child(3):after {
  content: "Culmina a las 18:00hrs";
  color: #4a87ee;
}
.cronograma table tr:nth-child(6) td:nth-child(4):after {
  content: "Culmina a las 19:30hrs";
  color: #4a87ee;
}
.cronograma table tr:nth-child(6) td:nth-child(2),
.cronograma table tr:nth-child(6) td:nth-child(3),
.cronograma table tr:nth-child(6) td:nth-child(4) {
  border-left: 0.1rem solid #4a87ee;
}
.cronograma table td {
  padding: 0.5rem 0;
  font-size: 1rem;
}
.cronograma table td:first-child {
  color: #4a87ee;
  display: inline-block;
  width: 15%;
}
.cronograma table td:nth-child(2) {
  display: inline-block;
  width: 85%;
  border-left: 0.1rem solid #4a87ee;
}
form input {
  border: none;
  padding: 0.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 2.5rem;
  -webkit-border-radius: 1rem 0 0 1rem;
  -moz-border-radius: 1rem 0 0 1rem;
  -ms-border-radius: 1rem 0 0 1rem;
  -o-border-radius: 1rem 0 0 1rem;
  border-radius: 1rem 0 0 1rem;
}
form button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  background-color: #4a87ee;
  color: #fff;
  -webkit-border-radius: 0 1rem 1rem 0;
  -moz-border-radius: 0 1rem 1rem 0;
  -ms-border-radius: 0 1rem 1rem 0;
  -o-border-radius: 0 1rem 1rem 0;
  border-radius: 0 1rem 1rem 0;
}
.button {
  padding: 1rem 0.5rem;
  background-color: #4a87ee;
  color: #fff;
  text-align: center;
  cursor: porinter;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.2rem #1356c8;
  -moz-box-shadow: 0 0.2rem #1356c8;
  -ms-box-shadow: 0 0.2rem #1356c8;
  -o-box-shadow: 0 0.2rem #1356c8;
  box-shadow: 0 0.2rem #1356c8;
}
.button-inscribete {
  padding: 1rem 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #16a085;
  color: #fff;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  width: 70%;
  -webkit-box-shadow: 0 0.3rem #0f705d;
  -moz-box-shadow: 0 0.3rem #0f705d;
  -ms-box-shadow: 0 0.3rem #0f705d;
  -o-box-shadow: 0 0.3rem #0f705d;
  box-shadow: 0 0.3rem #0f705d;
}
.button-inscribete:before {
  font-family: FontAwesome;
  content: "\f055";
  position: absolute;
  left: 20%;
  margin-top: -1rem;
  font-size: 3.2rem;
  color: #fff;
}
picture img {
  max-width: 100%;
}
picture.img-speaker img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  border: 0.2rem dotted #e67e22;
}
img.responsive {
  max-width: 100%;
}
img.portada {
  padding: 0;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 0.25rem solid #fff;
}
img.xcoreisc {
  position: relative;
  display: block;
  margin: 0 auto;
  top: -3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 6rem;
  border: 0.2rem solid #34495e;
}
img.unprg,
img.apeisc {
  position: absolute;
  top: -2.5rem;
  left: 30%;
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: 0.1rem solid #34495e;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.w100 {
  width: 100%;
}
.radius-small {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.bck-sky-blue {
  background-color: #5fccff;
}
.bck-theme {
  background-color: #4a87ee;
}
.bck-white {
  background-color: #fff;
  color: #34495e;
}
.bck-green {
  background-color: #16a085;
}
.bck-orange {
  background-color: #e67e22;
}
.bck-dark {
  background-color: #34495e;
}
.bck-dark-2 {
  background-color: #0a0f13;
}
.bck-glass {
  background-color: #1356c8;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.color-orange {
  color: #e67e22;
}
.color-white {
  color: #fff;
}
.color-theme {
  color: #4a87ee;
}
.color-dark {
  color: #34495e;
}
.color-sky-blue {
  color: #5fccff;
}
.margin-none {
  margin: 0;
}
.margin {
  margin: 1rem;
}
.margin-2 {
  margin: 2rem;
}
.margin-left {
  margin-left: 1rem;
}
.margin-right {
  margin-right: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-top-6 {
  margin-top: 6rem;
}
.margin-bottom {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.padding-none {
  padding: 0;
}
.padding {
  padding: 1rem;
}
.padding-small {
  padding: 0.5rem;
}
.padding-left {
  padding-left: 1rem;
}
.padding-right {
  padding-right: 1rem;
}
.padding-top {
  padding-top: 1rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-top-4 {
  padding-top: 4rem;
}
.padding-bottom-4 {
  padding-bottom: 4rem;
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.circle.d4 {
  width: 4rem;
  height: 4rem;
  padding: 1.3rem 1rem;
}
.border-vertical {
  position: relative;
}
.border-vertical:before,
.border-vertical:after {
  content: "";
  position: absolute;
}
.border-vertical:before {
  left: 49%;
  top: 1.5rem;
  height: 70rem;
  border-right: 0.25rem solid #fff;
}
.subtitle {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}
.border-precio {
  border: 0.2rem solid #4a87ee;
}
.bck-blue {
  background-color: #293863;
}
.border-right {
  border-right: 0.1rem solid #5fccff;
}
.date-fullDay:after {
  content: "2 de Diciembre";
  color: #fff;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3.5rem;
}
.xcoreisc-sn {
  font-weight: bold;
  color: #fff;
  display: block;
  margin-top: 1rem;
}
.button-nav {
  background-color: #34495e !important;
  left: 14rem !important;
}
.hr-orange {
  border-bottom: 0.1rem solid #f3bf91;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
mark {
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  background-color: #c9dbfa;
  color: #4a87ee;
  font-weight: bold;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.pago li {
  margin-top: 1rem;
}
#Expositores p {
  min-height: 7rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  opacity: 0;
  pointer-events: none;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal:target > div {
  animation-name: bounce;
}
.modal > div {
  background: #fff;
  position: relative;
  overflow-y: scroll;
  animation: minimise 500ms linear;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.modal a[href="#close"] {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
}
.modal a[href="#close"]:focus {
  outline: none;
}
.modal a[href="#close"]:after {
  font-family: "FontAwesome";
  content: "\f00d";
  font-size: 2rem;
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  color: #fff;
  width: 3rem;
  height: 3rem;
  background-color: #34495e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
  padding-top: 0.3rem;
  text-align: center;
}
.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.modal a[href="#close"]:focus:after {
  outline: none;
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }

  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }

  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }

  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }

  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }

  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    -moz-transform: scale3d(0.95, 0.95, 1);
    -ms-transform: scale3d(0.95, 0.95, 1);
    -o-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}
@-moz-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}
@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}
@-o-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}
@-ms-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}
@keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }
}
[role="header"] {
  display: block;
  text-align: center;
  background-image: url("../images/portada/unprg-xs.jpg");
  background-size: cover;
  background-position: center;
  min-height: 197px;
}
[role="header"]:before,
[role="header"]:after {
  content: " ";
  display: table;
}
[role="header"]:after {
  clear: both;
}
[role="header"] h1 {
  color: #fff;
  padding: 0.5rem 0;
  background-color: #4a87ee;
  margin-bottom: 1rem;
  min-height: 3rem;
  z-index: 2;
}
[role="header"] h2 {
  background-color: #16a085;
  color: #fff;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border-radius: 0.1rem;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
/** ./END Style 2 ***/
}
[role="header"] h2:before,
[role="header"] h2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 1rem;
  top: 4.5rem;
  z-index: -1;
}
[role="header"] h2:before {
  border-color: #149078 rgba(0,0,0,0) #149078 #149078;
  right: 15%;
}
[role="header"] h2:after {
  border-color: #149078 #149078 #149078 rgba(0,0,0,0);
  left: 15%;
}
[role="header"] > #showMenu,
[role="header"] > #showSocial {
  color: #fff;
  width: 3rem;
  height: 3rem;
  z-index: 3;
  font-size: 2rem;
  text-decoration: none;
  padding-top: 0.3rem;
}
[role="header"] > #showMenu span,
[role="header"] > #showSocial span {
  -webkit-transition: transform ease 0.6s;
  -moz-transition: transform ease 0.6s;
  -ms-transition: transform ease 0.6s;
  -o-transition: transform ease 0.6s;
  transition: transform ease 0.6s;
}
[role="header"] > #showMenu {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: #4a87ee;
  position: fixed;
  left: 0;
}
[role="header"] > #showSocial {
  position: absolute;
  right: 0;
}
.menu {
  background-color: #34495e;
  position: fixed;
  overflow-x: scroll;
  text-shadow: -1rem 0 0rem rgba(0,0,0,0.25) inset;
  -webkit-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -ms-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -o-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
}
.menu > img {
  display: block;
  width: 40%;
  margin: 0.5rem auto;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0.4rem solid rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -ms-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
}
.menu > a {
  display: block;
  padding-left: 1rem;
  border-bottom: 2px solid #415b75;
  color: #ccc;
  line-height: 2;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu > a:first-child {
  border-top: 2px solid #415b75;
}
.menu > a > span {
  font-size: 1.2rem;
  text-align: center;
  margin-right: 1rem;
}
.menu > ul {
  display: block;
  margin-top: 3rem;
  font-size: 0;
  color: #ccc;
}
.menu > ul:before {
  content: "Encuentranos en ";
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
.menu > ul > li {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  width: 14.285714285714286%;
}
.menu > ul > li a {
  color: #fff;
  text-decoration: none;
}
.menu-vertical {
  width: 14rem;
  height: 100%;
  top: 0;
  z-index: 3;
}
.menu-left {
  left: -14rem;
}
.menu-left.menu-open {
  left: 0;
}
.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.menu-push-toright {
  left: 14rem;
}
.menu,
.menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social {
  width: 11rem;
  background-color: #34495e;
  position: absolute;
  right: 0;
  top: -20rem;
  -webkit-transition: top ease 0.6s;
  -moz-transition: top ease 0.6s;
  -ms-transition: top ease 0.6s;
  -o-transition: top ease 0.6s;
  transition: top ease 0.6s;
  z-index: 1;
  -webkit-border-radius: 0.2rem 0 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0 0.2rem 0.2rem;
  -ms-border-radius: 0.2rem 0 0.2rem 0.2rem;
  -o-border-radius: 0.2rem 0 0.2rem 0.2rem;
  border-radius: 0.2rem 0 0.2rem 0.2rem;
}
.social:before,
.social:after {
  content: " ";
  display: table;
}
.social:after {
  clear: both;
}
.social a {
  float: left;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin: 0.5rem;
}
.open-social {
  top: 3rem;
}
.rotate-arrow-open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-arrow-open-nav {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.navbar {
  width: 100%;
  position: relative;
}
span.band {
  position: fixed;
  display: none;
}
span.band:target + .tab > div {
  opacity: 1;
  background-color: #4a87ee;
}
span.band:target + .tab a {
  background-color: #4a87ee;
  border-bottom: 0.1rem solid #4a87ee;
  z-index: 2;
}
.tab {
  position: relative;
}
.tab > a {
  float: left;
  width: 25%;
  background-color: #43cee6;
  border-top: 0.1rem solid #1cb7d2;
  border-bottom: 0.1rem solid #1cb7d2;
  border-right: 0.1rem solid #1cb7d2;
  padding: 0.25rem 0;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 2;
}
.tab >div {
  background: #43cee6;
  width: 100%;
  position: absolute;
  -webkit-border-radius: 0 0 0.25rem 0.25rem;
  -moz-border-radius: 0 0 0.25rem 0.25rem;
  -ms-border-radius: 0 0 0.25rem 0.25rem;
  -o-border-radius: 0 0 0.25rem 0.25rem;
  border-radius: 0 0 0.25rem 0.25rem;
  top: 3rem;
  left: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.tab >div > p {
  padding: 0.5rem 1rem;
}
.tab >div.info {
  text-align: justify;
}
.tab >div.gallery,
.tab >div.videos {
  padding: 0;
  font-size: 0;
}
.tab >div.gallery img,
.tab >div.videos img {
  width: 33.333333333333336%;
  display: inline-block;
}
.tab >div.place {
  padding: 0;
}
.tab >div.place #map-unprg {
  width: 100%;
  min-height: 12rem;
  overflow: visible !important;
  z-index: 2;
}
.tab >div.place #map-unprg .gmnoprint a {
  display: none;
}
.tab >div.place address {
  text-align: center;
  font-weight: bold;
}
.tab >div.social {
  position: relative;
}
#gallery-pics {
  height: auto !important;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  position: relative;
}
.swipe-wrap:before,
.swipe-wrap:after {
  content: " ";
  display: table;
}
.swipe-wrap:after {
  clear: both;
}
.swipe-wrap > picture {
  float: left;
  position: relative;
}
.swipe-wrap > picture img {
  width: 100%;
}
html {
  font-size: 75%;
}
h1,
.h1 {
  margin: 0;
  *font-size: 14px;
  font-size: 1.5rem;
}
h2,
.h2 {
  *font-size: 12px;
  font-size: 1.25rem;
}
h3,
.h3 {
  *font-size: 10px;
  font-size: 1rem;
}
h4,
.h4 {
  *font-size: 8px;
  font-size: 0.8rem;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 81.25%;
/* 13px */
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 87.5%;
/* 14px */
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 92%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (min-width: 768px) {
  .leyenda {
    display: none;
  }
  .cronograma table {
    background-color: transparent;
    display: table;
    padding: 1rem;
  }
  .cronograma table td {
    display: table-cell !important;
    width: auto !important;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }
  .cronograma table td:first-child {
    background-color: transparent;
  }
  .cronograma table td:first-child span {
    position: relative !important;
    background-color: #fff;
    cursor: pointer;
    display: block;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 0.8rem 0;
    border: 0.5rem solid #9b59b6;
  }
  .cronograma table td:first-child span:before {
    font-family: FontAwesome;
    content: "\f0d9";
    position: absolute;
    left: 3.5rem;
    margin-top: -1.3rem;
    font-size: 4rem;
    color: #fff;
  }
  .cronograma table td:first-child span:after {
    content: "";
    position: absolute;
    height: 12rem;
    border-left: 0.5rem solid #9b59b6;
    width: 4rem;
    left: 1.2rem;
    z-index: -1;
  }
  .cronograma table td:nth-child(2),
  .cronograma table td:nth-child(3),
  .cronograma table td:nth-child(4) {
    border-left: none !important;
    border-bottom: none !important;
  }
  .cronograma table tr {
    display: table-row;
    border-bottom: none;
    font-size: 1rem;
/**************** Conferencias ************************/
/**************** Protocolo ************************/
/******************* IGNITE ***************************/
/***************** taLLERES ***************************/
  }
  .cronograma table tr:nth-child(2) td:nth-child(2),
  .cronograma table tr:nth-child(3) td:nth-child(2),
  .cronograma table tr:nth-child(6) td:nth-child(2),
  .cronograma table tr:nth-child(7) td:nth-child(2),
  .cronograma table tr:nth-child(8) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div,
  .cronograma table tr:nth-child(3) td:nth-child(2) div,
  .cronograma table tr:nth-child(6) td:nth-child(2) div,
  .cronograma table tr:nth-child(7) td:nth-child(2) div,
  .cronograma table tr:nth-child(8) td:nth-child(2) div {
    background-color: #fff;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) > div:before {
    content: "Conferencia";
    background-color: #9b59b6;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2),
  .cronograma table tr:nth-child(5) td:nth-child(2),
  .cronograma table tr:nth-child(9) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div,
  .cronograma table tr:nth-child(5) td:nth-child(2) div,
  .cronograma table tr:nth-child(9) td:nth-child(2) div {
    background-color: #fff;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) > div:before {
    content: "Protocolo";
    background-color: #4a87ee;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2):after {
    margin-top: -2rem;
    color: #e74c3c;
    top: auto;
    right: 1.5rem;
    text-shadow: none;
    cursor: pointer;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div {
    background-color: #fff;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div:hover {
    background-color: rgba(231,76,60,0.8);
    color: #fff;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div:before {
    content: "Ignite";
    background-color: #e74c3c;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3),
  .cronograma table tr:nth-child(6) td:nth-child(4) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div,
  .cronograma table tr:nth-child(6) td:nth-child(4) div {
    background-color: #fff;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) > div,
  .cronograma table tr:nth-child(6) td:nth-child(4) > div {
    padding: 4.3rem 0;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) > div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) > div:before {
    content: "Taller";
    background-color: #16a085;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3):after,
  .cronograma table tr:nth-child(6) td:nth-child(4):after {
    content: "";
  }
  .cronograma table tr:nth-child(6) td:nth-child(4) > div {
    padding: 6.9rem 0;
  }
  .cronograma table tr:nth-child(9) td:first-child span:after {
    border-left: none;
  }
  #Expositores img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 0.2rem solid #e67e22;
  }
  #Expositores > div {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .lg-logos {
    position: absolute;
    top: 12rem;
    background: transparent;
    width: 100%;
  }
  img.xcoreisc {
    width: 8rem;
    height: 8rem;
  }
  img.unprg {
    left: 100%;
    width: 5rem;
    height: 5rem;
  }
  img.apeisc {
    right: 100%;
    width: 5rem;
    height: 5rem;
    left: auto;
  }
  .date-fullDay:after {
    content: "2 de Diciembre";
    top: 5.5rem;
    font-size: 1.8rem;
    color: #16a085;
    background-color: #fff;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border-radius: 0.4rem;
  }
  .cronograma.margin-top {
    margin-top: 0;
  }
  .navbar {
    padding-top: 0;
  }
  .navbar:before,
  .navbar:after {
    content: " ";
    display: table;
  }
  .navbar:after {
    clear: both;
  }
  .navbar .band {
    display: none;
    z-index: -2 !important;
  }
  .navbar .tab {
    width: 50%;
    float: left;
  }
  .navbar .tab > a {
    display: none;
  }
  .navbar .tab >div {
    opacity: 1;
    position: relative;
    top: 0;
  }
  .navbar .tab >div.info,
  .navbar .tab >div.place {
    min-height: 18rem;
  }
  .navbar .tab >div.place #map-unprg {
    min-height: 15rem;
  }
  .navbar .tab:first-of-type:before,
  .navbar .tab:nth-of-type(2):before,
  .navbar .tab:nth-of-type(3):before,
  .navbar .tab:nth-of-type(4):before {
    content: "";
    font-family: "FontAwesome";
    font-size: 2rem;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    background-color: #107864;
  }
  .navbar .tab:nth-of-type(2):before {
    content: "";
  }
  .navbar .tab:nth-of-type(3):before {
    content: "";
  }
  .navbar .tab:nth-of-type(4):before {
    content: "";
  }
  #showMenu {
    display: none;
  }
  [role="header"] {
    background-image: url("../images/portada/unprg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }
  [role="header"] h1,
  [role="header"] h2 {
    background-color: transparent;
    position: relative;
    top: 4rem;
    color: #34495e;
    text-shadow: 0 2px 1px #4a87ee;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    background-color: #16a085;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -ms-border-radius: 0.2rem 0.2rem 0 0;
    -o-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
  }
  [role="header"] h1:before,
  [role="header"] h1:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 1rem;
    top: 1.5rem;
    z-index: -1;
  }
  [role="header"] h1:before {
    border-color: #149078 rgba(0,0,0,0) #149078 #149078;
    right: -2rem;
  }
  [role="header"] h1:after {
    border-color: #149078 #149078 #149078 rgba(0,0,0,0);
    left: -2rem;
  }
  .menu {
    position: absolute;
    height: 3rem;
    overflow: hidden;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    font-size: 0;
    background-color: rgba(0,0,0,0.5);
  }
  .menu > img {
    display: none;
  }
  .menu > a {
    display: inline-block;
    border-bottom: none;
    width: 16.666666666666668%;
    font-size: 1rem;
    text-align: center;
    color: #fff;
  }
  .menu > a [class^="fa"],
  .menu > a [class*="fa"] {
    display: none;
  }
  #showSocial {
    display: none;
  }
  .social {
    width: 20rem;
    background-color: transparent;
    top: 3rem;
    right: 0;
  }
  .social>a {
    width: 2.7rem;
    height: 2.7rem;
    padding: 0.2rem;
    background-color: rgba(0,0,0,0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  .social>a:hover .fa-facebook {
    color: #3b5998;
  }
  .social>a:hover .fa-twitter {
    color: #00aced;
  }
  .social>a:hover .fa-youtube {
    color: #b00;
  }
  .social>a:hover .fa-pinterest {
    color: #cb2027;
  }
  .social>a:hover .fa-foursquare {
    color: #0072b1;
  }
  .social>a:hover .fa-google-plus {
    color: #dd4b39;
  }
}
@media only screen and (min-width: 1200px) {
  &.xcoreisc {
    text-align: left;
  }
  &.unprg,
  &.apeisc {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  [role="header"] > a img {
    width: 40%;
  }
  [role="header"] > a img.xcoreisc {
    width: 40%;
  }
}
