/*********************** HEADER ***********************************************/
[role="header"] {
  display: block;
  text-align: center;
  background-image: url("../images/portada/unprg-xs.jpg");
  background-size: cover;
  background-position: 0 20px;
  padding-bottom: 5rem;
}
[role="header"]:before,
[role="header"]:after {
  content: " ";
  display: table;
}
[role="header"]:after {
  clear: both;
}
[role="header"] h1 {
  color: #ebedee;
  padding: 0.5rem 0;
  background-color: #3498db;
  margin-bottom: 1rem;
  min-height: 3rem;
  z-index: 2;
}
[role="header"] h2 {
/********* Style 1 - Tag Rotate ********
		position absolute
		right -15%
		top BASE_SPACE
		background-color COLOR_WHITE
		color COLOR_THEME
		padding (BASE_SPACE/2) 0
		width 50%
		transform rotate(45deg)
		*/
/********* Style 2 - Ribbon ********/
  background-color: #16a085;
  color: #ebedee;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border-radius: 0.1rem;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
/** ./END Style 2 ***/
}
[role="header"] h2:before,
[role="header"] h2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 1rem;
  top: 4.5rem;
  z-index: -1;
}
[role="header"] h2:before {
  border-color: #149078 rgba(0,0,0,0) #149078 #149078;
  right: 15%;
}
[role="header"] h2:after {
  border-color: #149078 #149078 #149078 rgba(0,0,0,0);
  left: 15%;
}
[role="header"] > #showMenu,
[role="header"] > #showSocial {
  color: #ebedee;
  width: 3rem;
  height: 3rem;
  z-index: 3;
  font-size: 2rem;
  text-decoration: none;
  padding-top: 0.3rem;
}
[role="header"] > #showMenu span,
[role="header"] > #showSocial span {
  -webkit-transition: transform ease 0.6s;
  -moz-transition: transform ease 0.6s;
  -ms-transition: transform ease 0.6s;
  -o-transition: transform ease 0.6s;
  transition: transform ease 0.6s;
}
[role="header"] > #showMenu {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: #3498db;
  position: fixed;
  left: 0;
}
[role="header"] > #showSocial {
  position: absolute;
  right: 0;
}
[role="header"] img {
  position: relative;
}
[role="header"] img.unprg {
  top: 2rem;
  width: 4rem;
}
[role="header"] img.xcoreisc {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 8rem;
  border: 0.2rem solid #34495e;
}
[role="header"] img.apeisc {
  top: 2rem;
  width: 4rem;
}
/******************* navigation ***************/
.menu {
  background-color: #34495e;
  position: fixed;
  overflow-x: scroll;
  text-shadow: -1rem 0 0rem rgba(0,0,0,0.25) inset;
  -webkit-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -ms-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  -o-box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
  box-shadow: inset -4px 0 15px 0 rgba(0,0,0,0.75);
}
.menu > img {
  display: block;
  width: 40%;
  margin: 0.5rem auto;
  background-color: #ebedee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0.4rem solid rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -ms-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
  box-shadow: 0 0 0.2rem 0.1rem rgba(255,255,255,0.5);
}
.menu > a {
  display: block;
  padding-left: 1rem;
  border-bottom: 2px solid #415b75;
  color: #b8bfc3;
  line-height: 2;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu > a:first-child {
  border-top: 2px solid #415b75;
}
.menu > a > span {
  font-size: 1.2rem;
  text-align: center;
  margin-right: 1rem;
}
.menu > ul {
  display: block;
  margin-top: 3rem;
  font-size: 0;
  color: #b8bfc3;
}
.menu > ul:before {
  content: "Encuentranos en ";
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
.menu > ul > li {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  width: 14.285714285714286%;
}
.menu > ul > li a {
  color: #ebedee;
  text-decoration: none;
}
.menu-vertical {
  width: 14rem;
  height: 100%;
  top: 0;
  z-index: 3;
}
.menu-left {
  left: -14rem;
}
.menu-left.menu-open {
  left: 0;
}
.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.menu-push-toright {
  left: 14rem;
}
.menu,
.menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/********************* Menu social ************************************/
.social {
  width: 3rem;
  background-color: #34495e;
  padding: 0 0.5rem;
  position: absolute;
  right: 0;
  top: -20rem;
  -webkit-transition: top ease 0.6s;
  -moz-transition: top ease 0.6s;
  -ms-transition: top ease 0.6s;
  -o-transition: top ease 0.6s;
  transition: top ease 0.6s;
  z-index: 2;
}
.social a {
  text-align: center;
  font-size: 2rem;
  color: #ebedee;
  padding: 1rem 0;
}
.open-social {
  top: 3rem;
}
.rotate-arrow-open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-arrow-open-nav {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
