.navbar {
  text-align: center;
  background-color: #ebedee;
}
.navbar a {
  float: left;
  width: 20%;
  padding: 1rem 0;
  border-bottom: 0.2rem solid #16a085;
}
.navbar a .fa {
  font-size: 2rem;
  color: #16a085;
}
.navbar a.selected {
  background-color: #16a085;
}
.navbar a.selected .fa {
  color: #ebedee;
}
