/******************* RESET ***********************************************-*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
fieldset,
ul,
ol,
figcaption,
figure,
picture,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #34495e;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
}
table td {
  padding: 0;
}
fieldset,
ul {
  padding: 0;
  border: none;
}
a {
  outline: 0;
  text-decoration: none;
}
dl {
  font-size: 0;
  text-align: center;
}
dl dd {
  font-size: 1rem;
}
dl dt {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
