@media only screen and (min-width: 992px) {
  .navbar {
    overflow: hidden;
  }
  .tab {
    width: 50%;
    float: left;
  }
  .tab a {
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: block;
    z-index: 2;
  }
  .tab >div {
    opacity: 1;
    position: relative;
    top: 0;
  }
  .tab >div.place {
    top: 2.3rem;
    padding: 0 0 3rem 0;
  }
  #showMenu {
    display: none;
  }
  [role="header"] {
    max-width: 992px;
    margin: 0 auto;
  }
  .menu {
    position: relative;
    overflow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
  }
  .menu > img {
    display: none;
  }
  .menu > a {
    display: inline-block;
  }
}
