@media only screen and (min-width: 768px) {
  .leyenda {
    display: none;
  }
  .cronograma table {
    background-color: transparent;
    display: table;
    padding: 1rem;
  }
  .cronograma table tr {
    display: table-row;
    border-bottom: none;
    font-size: 1rem;
/**************** Conferencias ************************/
/**************** Protocolo ************************/
/******************* IGNITE ***************************/
/***************** taLLERES ***************************/
  }
  .cronograma table tr:nth-child(2) td:nth-child(2),
  .cronograma table tr:nth-child(3) td:nth-child(2),
  .cronograma table tr:nth-child(6) td:nth-child(2),
  .cronograma table tr:nth-child(7) td:nth-child(2),
  .cronograma table tr:nth-child(8) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div,
  .cronograma table tr:nth-child(3) td:nth-child(2) div,
  .cronograma table tr:nth-child(6) td:nth-child(2) div,
  .cronograma table tr:nth-child(7) td:nth-child(2) div,
  .cronograma table tr:nth-child(8) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) div:before {
    content: "Conferencia";
    background-color: #9b59b6;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2),
  .cronograma table tr:nth-child(5) td:nth-child(2),
  .cronograma table tr:nth-child(9) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div,
  .cronograma table tr:nth-child(5) td:nth-child(2) div,
  .cronograma table tr:nth-child(9) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) div:before {
    content: "Protocolo";
    background-color: #3498db;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div:before {
    content: "Ignite";
    background-color: #e74c3c;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3),
  .cronograma table tr:nth-child(6) td:nth-child(4) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div,
  .cronograma table tr:nth-child(6) td:nth-child(4) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) > div,
  .cronograma table tr:nth-child(6) td:nth-child(4) > div {
    padding: 4.3rem 0;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) div:before {
    content: "Taller";
    background-color: #16a085;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3):after,
  .cronograma table tr:nth-child(6) td:nth-child(4):after {
    content: "";
  }
  .cronograma table tr:nth-child(6) td:nth-child(4) div {
    padding: 6.9rem 0;
  }
  .cronograma table td {
    display: table-cell !important;
    width: auto !important;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }
  .cronograma table td:first-child {
    background-color: transparent;
  }
  .cronograma table td:first-child span {
    position: relative !important;
    background-color: #ebedee;
    cursor: pointer;
    display: block;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 0.8rem 0;
    border: 0.5rem solid #9b59b6;
  }
  .cronograma table td:first-child span:before {
    font-family: FontAwesome;
    content: "\f0d9";
    position: absolute;
    left: 3.5rem;
    margin-top: -1.3rem;
    font-size: 4rem;
    color: #ebedee;
  }
  .cronograma table td:first-child span:after {
    content: "";
    position: absolute;
    height: 12rem;
    border-left: 0.5rem solid #9b59b6;
    width: 4rem;
    left: 1.2rem;
    z-index: -1;
  }
  .cronograma table td:nth-child(2),
  .cronograma table td:nth-child(3),
  .cronograma table td:nth-child(4) {
    border-left: none !important;
    border-bottom: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .navbar {
    overflow: hidden;
    padding-top: 0;
  }
  .tab {
    width: 50%;
    float: left;
  }
  .tab a {
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: block;
    z-index: 2;
  }
  .tab >div {
    opacity: 1;
    position: relative;
    top: 0;
  }
  .tab >div.place {
    top: 2.3rem;
    padding: 0 0 3rem 0;
  }
  #showMenu {
    display: none;
  }
  [role="header"] {
    background-image: url("../images/portada/unprg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }
  [role="header"] h1,
  [role="header"] h2 {
    background-color: transparent;
    position: relative;
    top: 15rem;
    color: #34495e;
    text-shadow: 0 2px 1px #3498db;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 30%;
    background-color: #16a085;
  }
  [role="header"] h2:before,
  [role="header"] h2:after {
    top: -1rem;
    z-index: 1;
    border-width: 1.5rem;
  }
  [role="header"] h2:before {
    border-color: #149078 rgba(0,0,0,0) #149078 #149078;
    right: -3rem;
  }
  [role="header"] h2:after {
    border-color: #149078 #149078 #149078 rgba(0,0,0,0);
    left: -3rem;
  }
  [role="header"] > a {
    display: block;
    width: 10%;
    float: left;
    margin: 0;
  }
  [role="header"] > a:nth-of-type(2) {
    margin-left: 30%;
  }
  [role="header"] > a:nth-of-type(3) {
    width: 20%;
  }
  [role="header"] > a img {
    display: block;
    margin: 0 auto;
    width: 80%;
    float: none;
    top: 4rem;
  }
  [role="header"] > a img.xcoreisc {
    width: 80%;
    top: 1rem;
    -webkit-box-shadow: 0 0 0.5rem 0.5rem #34495e;
    -moz-box-shadow: 0 0 0.5rem 0.5rem #34495e;
    -ms-box-shadow: 0 0 0.5rem 0.5rem #34495e;
    -o-box-shadow: 0 0 0.5rem 0.5rem #34495e;
    box-shadow: 0 0 0.5rem 0.5rem #34495e;
  }
  .menu {
    position: absolute;
    height: 3rem;
    overflow: hidden;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    font-size: 0;
    background-color: rgba(0,0,0,0.5);
  }
  .menu > img {
    display: none;
  }
  .menu > a {
    display: inline-block;
    border-bottom: none;
    width: 16.666666666666668%;
    font-size: 1rem;
    text-align: center;
    color: #ebedee;
  }
  .menu > a [class^="fa"],
  .menu > a [class*="fa"] {
    display: none;
  }
  #countdown {
    position: absolute;
    top: 20rem;
    left: 24.5%;
  }
  #countdown input {
    text-shadow: 0 1px 1px #000;
  }
  #countdown span {
    position: relative;
    top: -55px;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
  }
}
@media only screen and (min-width: 1200px) {
  [role="header"] > a img {
    width: 60%;
  }
  [role="header"] > a img.xcoreisc {
    width: 60%;
  }
  #countdown {
    left: 30%;
  }
}
@media only screen and (min-width: 1440px) {
  [role="header"] > a img {
    width: 40%;
  }
  [role="header"] > a img.xcoreisc {
    width: 40%;
  }
  #countdown {
    left: 32.5%;
  }
}
