@media only screen and (min-width: 768px) {
  .leyenda {
    display: none;
  }
  .cronograma table {
    background-color: transparent;
    display: table;
    padding: 1rem;
  }
  .cronograma table tr {
    display: table-row;
    border-bottom: none;
    font-size: 1rem;
/**************** Conferencias ************************/
/**************** Protocolo ************************/
/******************* IGNITE ***************************/
/***************** taLLERES ***************************/
  }
  .cronograma table tr:nth-child(2) td:nth-child(2),
  .cronograma table tr:nth-child(3) td:nth-child(2),
  .cronograma table tr:nth-child(6) td:nth-child(2),
  .cronograma table tr:nth-child(7) td:nth-child(2),
  .cronograma table tr:nth-child(8) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div,
  .cronograma table tr:nth-child(3) td:nth-child(2) div,
  .cronograma table tr:nth-child(6) td:nth-child(2) div,
  .cronograma table tr:nth-child(7) td:nth-child(2) div,
  .cronograma table tr:nth-child(8) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(2) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(3) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(6) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(7) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(8) td:nth-child(2) > div:before {
    content: "Conferencia";
    background-color: #9b59b6;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2),
  .cronograma table tr:nth-child(5) td:nth-child(2),
  .cronograma table tr:nth-child(9) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div,
  .cronograma table tr:nth-child(5) td:nth-child(2) div,
  .cronograma table tr:nth-child(9) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(1) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(5) td:nth-child(2) > div:before,
  .cronograma table tr:nth-child(9) td:nth-child(2) > div:before {
    content: "Protocolo";
    background-color: #3498db;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2):after {
    margin-top: -2rem;
    color: #e74c3c;
    top: auto;
    right: 1.5rem;
    text-shadow: none;
    cursor: pointer;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div:hover {
    background-color: rgba(231,76,60,0.8);
    color: #ebedee;
  }
  .cronograma table tr:nth-child(4) td:nth-child(2) > a > div:before {
    content: "Ignite";
    background-color: #e74c3c;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3),
  .cronograma table tr:nth-child(6) td:nth-child(4) {
    background-color: transparent;
    padding: 1rem;
    position: relative;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div,
  .cronograma table tr:nth-child(6) td:nth-child(4) div {
    background-color: #ebedee;
    padding: 1rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) div:before {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 0 0.25rem 0 0.25rem;
    -ms-border-radius: 0 0.25rem 0 0.25rem;
    -o-border-radius: 0 0.25rem 0 0.25rem;
    border-radius: 0 0.25rem 0 0.25rem;
    padding: 0 0.5rem;
    color: #fff;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) > div,
  .cronograma table tr:nth-child(6) td:nth-child(4) > div {
    padding: 4.3rem 0;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3) > div:before,
  .cronograma table tr:nth-child(6) td:nth-child(4) > div:before {
    content: "Taller";
    background-color: #16a085;
  }
  .cronograma table tr:nth-child(6) td:nth-child(3):after,
  .cronograma table tr:nth-child(6) td:nth-child(4):after {
    content: "";
  }
  .cronograma table tr:nth-child(6) td:nth-child(4) > div {
    padding: 6.9rem 0;
  }
  .cronograma table td {
    display: table-cell !important;
    width: auto !important;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }
  .cronograma table td:first-child {
    background-color: transparent;
  }
  .cronograma table td:first-child span {
    position: relative !important;
    background-color: #ebedee;
    cursor: pointer;
    display: block;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 0.8rem 0;
    border: 0.5rem solid #9b59b6;
  }
  .cronograma table td:first-child span:before {
    font-family: FontAwesome;
    content: "\f0d9";
    position: absolute;
    left: 3.5rem;
    margin-top: -1.3rem;
    font-size: 4rem;
    color: #ebedee;
  }
  .cronograma table td:first-child span:after {
    content: "";
    position: absolute;
    height: 12rem;
    border-left: 0.5rem solid #9b59b6;
    width: 4rem;
    left: 1.2rem;
    z-index: -1;
  }
  .cronograma table td:nth-child(2),
  .cronograma table td:nth-child(3),
  .cronograma table td:nth-child(4) {
    border-left: none !important;
    border-bottom: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .lg-logos {
    position: absolute;
    top: 12rem;
    background: transparent;
  }
  .cronograma.margin-top {
    margin-top: 0;
  }
  .navbar {
    padding-top: 0;
  }
  .navbar:before,
  .navbar:after {
    content: " ";
    display: table;
  }
  .navbar:after {
    clear: both;
  }
  .navbar .band {
    display: none;
    z-index: -2 !important;
  }
  .navbar .tab {
    width: 50%;
    float: left;
  }
  .navbar .tab > a {
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: block;
    z-index: 2;
    background-color: #107864;
  }
  .navbar .tab >div {
    opacity: 1;
    position: relative;
    top: 0;
    min-height: 8rem;
  }
  .navbar .tab >div.info,
  .navbar .tab >div.place {
    min-height: 18rem;
  }
  .navbar .tab >div.place {
    top: 2.3rem;
    padding: 0 0 3rem 0;
  }
  #showMenu {
    display: none;
  }
  [role="header"] {
    background-image: url("../images/portada/unprg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }
  [role="header"] h1,
  [role="header"] h2 {
    background-color: transparent;
    position: relative;
    top: 4rem;
    color: #34495e;
    text-shadow: 0 2px 1px #3498db;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    background-color: #16a085;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -ms-border-radius: 0.2rem 0.2rem 0 0;
    -o-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
  }
  [role="header"] h1:before,
  [role="header"] h1:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 1rem;
    top: 1.5rem;
    z-index: -1;
  }
  [role="header"] h1:before {
    border-color: #149078 rgba(0,0,0,0) #149078 #149078;
    right: -2rem;
  }
  [role="header"] h1:after {
    border-color: #149078 #149078 #149078 rgba(0,0,0,0);
    left: -2rem;
  }
  .menu {
    position: absolute;
    height: 3rem;
    overflow: hidden;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    font-size: 0;
    background-color: rgba(0,0,0,0.5);
  }
  .menu > img {
    display: none;
  }
  .menu > a {
    display: inline-block;
    border-bottom: none;
    width: 16.666666666666668%;
    font-size: 1rem;
    text-align: center;
    color: #ebedee;
  }
  .menu > a [class^="fa"],
  .menu > a [class*="fa"] {
    display: none;
  }
  #countdown {
    position: absolute;
    top: 20rem;
    left: 24.5%;
  }
  #countdown input {
    text-shadow: 0 1px 1px #000;
  }
  #countdown span {
    position: relative;
    top: -55px;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
  }
}
@media only screen and (min-width: 1200px) {
  [role="header"] > a img {
    width: 60%;
  }
  [role="header"] > a img.xcoreisc {
    width: 60%;
  }
  #countdown {
    left: 30%;
  }
}
@media only screen and (min-width: 1440px) {
  [role="header"] > a img {
    width: 40%;
  }
  [role="header"] > a img.xcoreisc {
    width: 40%;
  }
  #countdown {
    left: 32.5%;
  }
}
