@import "__constants/variables.styl"
@import "__constants/mixins.styl"

#countdown
	& dt
		margin-left 1rem
		& input
			font-size 1.3rem !important
		& span
			display block
			color COLOR_WHITE
		/*
		&:first-child
			block-center()
			width 30%
			height BASE_SPACE*2
			background COLOR_WHITE
			margin-top BASE_SPACE 
			margin-bottom BASE_SPACE 
			& span
				color COLOR_THEME
				display inline-block
				text-align center
			&:before,&:after
				content ''
				position: absolute
			&:before
				left 40%
				border-width BASE_SPACE
				border-style solid
				border-color COLOR_DARK COLOR_WHITE COLOR_WHITE COLOR_DARK
			&:after
				left 55%
				border-width BASE_SPACE
				border-style solid
				border-color COLOR_DARK COLOR_DARK COLOR_WHITE COLOR_WHITE
			*/
		&:nth-child(1)
			margin-left  .5rem