@import "__constants/variables.styl"
@import "__constants/mixins.styl"

dl
	font-size 0
	text-align center
	& dt
		font-size BASE_SPACE
		display inline-block
		vertical-align middle
		margin-left BASE_SPACE
		& span
			display block
			color COLOR_WHITE
		/*
		&:first-child
			block-center()
			width 30%
			height BASE_SPACE*2
			background COLOR_WHITE
			margin-top BASE_SPACE 
			margin-bottom BASE_SPACE 
			& span
				color COLOR_THEME
				display inline-block
				text-align center
			&:before,&:after
				content ''
				position: absolute
			&:before
				left 40%
				border-width BASE_SPACE
				border-style solid
				border-color COLOR_DARK COLOR_WHITE COLOR_WHITE COLOR_DARK
			&:after
				left 55%
				border-width BASE_SPACE
				border-style solid
				border-color COLOR_DARK COLOR_DARK COLOR_WHITE COLOR_WHITE
			*/

		&:nth-child(1)
			margin-left -(BASE_SPACE/2)