@import "__constants/variables.styl"
@import "__constants/mixins.styl"

.cronograma
	display block
	& h2, time
		display block
		text-align center
	& h2
		padding (BASE_SPACE/2) 0
		background-color COLOR_PURPLE
		color COLOR_WHITE
	& time
		padding (BASE_SPACE/4) 0
		background-color darken(COLOR_PURPLE,50%)
		color COLOR_WHITE

	& table
		text-align center
		border-spacing 0
		border-collapse collapse
		empty-cells show
		& td
			&:first-child
				color COLOR_WHITE
				& span 
					background-color COLOR_WHITE
					color COLOR_PURPLE
					display block
					square(4rem)
					border-radius 50%
					padding (BASE_SPACE*0.8) 0
					margin-top BASE_SPACE
					border (BASE_SPACE/2) solid COLOR_PURPLE
					&:before
						font-family FontAwesome
						content: "\f0d9"
						position absolute
						left 4rem
						margin-top -1rem
						font-size 4rem
						color COLOR_WHITE
					&:after
						content ""
						position absolute
						height 10rem
						//border-top (BASE_SPACE/4) solid COLOR_WHITE
						border-left (BASE_SPACE/2) solid COLOR_PURPLE
						width 4rem
						left 1.75rem
						z-index -1
			
			&:nth-child(2)
				padding 0 BASE_SPACE
				& div
					padding BASE_SPACE 0
					color COLOR_DARK
					background-color COLOR_WHITE
					border-radius (BASE_SPACE/4)
					margin-top BASE_SPACE
			&:nth-child(3),&:nth-child(4)
				padding 0 BASE_SPACE
				background-color COLOR_WHITE
				border-radius (BASE_SPACE/4)
				border-top (BASE_SPACE*2) solid COLOR_DARK
				& div
					color COLOR_DARK
			&:nth-child(3)
				border-right (BASE_SPACE) solid COLOR_DARK
			&:nth-child(4)
				border-right (BASE_SPACE*2) solid COLOR_DARK
				border-left (BASE_SPACE) solid COLOR_DARK
		& tr
			&:nth-child(8)
				& td 
					&:nth-child(2)
						padding 0 0 0 BASE_SPACE

			&:nth-child(8)
				& td
					&:first-child
						& span
							&:after
								height 5rem
			&:last-child
				& td
					&:first-child
						& span
							&:after
								border-left none
					
					


