@import "__constants/variables.styl"
@import "__constants/mixins.styl"

form
	& input 
		border none
		padding (BASE_SPACE/2)
		radius( (0) )
		width 100%
		height 2.5rem
		border-radius 1rem 0  0 1rem
	button
		padding (BASE_SPACE/2)
		radius( (0) )
		border  none
		cursor pointer
		height 2.5rem
		background-color COLOR_THEME
		color COLOR_WHITE
		border-radius 0 1rem 1rem 0
