@import "__constants/variables.styl"
@import "__constants/mixins.styl"

picture 
	& img
		max-width 100%
	&.img-speaker
		& img 
			border-radius 50%
			block-center()
			square(6rem)
			border 0.2rem dotted COLOR_ORANGE
img
	&.responsive
		max-width 100%
	&.portada
		padding 0
		border-radius (BASE_SPACE/4)
		border (BASE_SPACE/4) solid COLOR_WHITE

.block-center
	block-center()
/************************** WIDTH ***********************/
.w100
	width 100%
/************************ borders ************************/
.radius-small
	border-radius (BASE_SPACE/4)
/**************** TEXT *************************************/
.text-center
	text-align center
.text-bold
	font-weight bold
/**************** colors ********************************/
.bck-sky-blue
	background-color COLOR_SKY_BLUE
.bck-theme
	background-color COLOR_THEME

.bck-white
	background-color COLOR_WHITE
	color COLOR_DARK
.bck-green
	background-color COLOR_GREEN
.bck-orange
	background-color COLOR_ORANGE
.bck-dark
	background-color COLOR_DARK
.bck-dark-2
	background-color darken(COLOR_DARK,80%)
.bck-glass
	background-color darken(COLOR_THEME,30%)
	border-radius (BASE_SPACE/2)

.color-orange
	color COLOR_ORANGE
.color-white
	color COLOR_WHITE
.color-dark
	color COLOR_DARK
.color-sky-blue
	color COLOR_SKY_BLUE


/***************** MARGINS, PADDINGS ********/

.margin-none  
	margin: 0

.margin  
	margin:  BASE_SPACE

.margin-left  
	margin-left:  BASE_SPACE

.margin-right  
	margin-right:  BASE_SPACE

.margin-top  
	margin-top:  BASE_SPACE

.margin-top-2  
	margin-top:  BASE_SPACE*2

.margin-top-3  
	margin-top:  BASE_SPACE*3

.margin-top-4  
	margin-top:  BASE_SPACE*4

.margin-top-6  
	margin-top:  BASE_SPACE*6

.margin-bottom  

	margin-bottom:  BASE_SPACE

.margin-bottom-2  

	margin-bottom:  BASE_SPACE*2

.margin-bottom-4  

	margin-bottom:  BASE_SPACE*4


.padding-none  
	padding: 0
.padding  
	padding:  BASE_SPACE

.padding-small  
	padding: (BASE_SPACE/2 )

.padding-left  
	padding-left:  BASE_SPACE

.padding-right  
	padding-right:  BASE_SPACE

.padding-top  
	padding-top:  BASE_SPACE

.padding-bottom  
	padding-bottom:  BASE_SPACE

.padding-top-2  
	padding-top:  BASE_SPACE*2

.padding-bottom-2  
	padding-bottom:  BASE_SPACE*2

.padding-top-4  
	padding-top:  BASE_SPACE*4

.padding-bottom-4  
	padding-bottom:  BASE_SPACE*4

/****************** figures *************************/
.circle
	border-radius 50%
	&.d4
		square(4rem)
		padding 1.3rem 1rem


.border-vertical
	position relative
	&:before,&:after
		content ""
		position absolute
	&:before
		left 49%
		top BASE_SPACE*1.5
		height 70rem
		border-right (BASE_SPACE/4) solid COLOR_WHITE


.subtitle
	display block
	color COLOR_WHITE 
	text-align center
	padding (BASE_SPACE/2) 0

/*

@import "reset.styl"
@import "countdown.styl"
@import "cronograma.styl"
@import "forms.styl"
@import "helpers.styl"
@import "modals.styl"
@import "nav.styl"
@import "navbar.styl"
@import "tables.styl"
@import "text.styl"
@import "responsive.styl"

*/

/***********************  XCOREISC ************************************/
.border-precio
	border .2rem solid COLOR_THEME
.bck-blue 
	background-color #293863
.border-right 
	border-right .1rem solid COLOR_SKY_BLUE