@import "__constants/variables.styl"
@import "__constants/mixins.styl"

.md-modal
  position: fixed
  top: 50%
  left: 50%
  width: 100%
  padding 0 BASE_SPACE
  height: auto
  z-index: 2000
  visibility: hidden
  backface-visibility: hidden
  transform: translateX(-50%) translateY(-50%)

.md-show
  visibility: visible

.md-overlay
  position: fixed
  width: 100%
  height: 100%
  visibility: hidden
  top: 0
  left: 0
  z-index: 1000
  opacity: 0
  background: rgba(22, 160, 133,.8)
  transition: all 0.3s

.md-show ~ .md-overlay
  opacity: 1
  visibility: visible


.md-effect
	&.md-modal
  	perspective: 1300px
  & .container
  	transform-style: preserve-3d
  	transform: translateY(100%) rotateX(90deg)
  	transform-origin: 0 100%
  	opacity: 0
  	transition: all 0.3s ease-out

.md-show.md-effect .container
  transform: translateY(0%) rotateX(0deg)
  opacity: 1
