@import "__constants/variables.styl"
@import "__constants/mixins.styl"

/*********************** HEADER ***********************************************/

[role="header"]
	display block
	text-align center
	clearfix()
	background-image url("../images/portada/unprg-xs.jpg")
	background-size cover 
	background-position center
	min-height 197px
	// Tittle
	& h1 
		color COLOR_WHITE
		padding (BASE_SPACE/2) 0
		background-color COLOR_THEME
		margin-bottom BASE_SPACE
		min-height 3rem 
		z-index 2
	& h2
		background-color COLOR_GREEN
		color COLOR_WHITE
		width 60%
		block-center()
		border-radius .1rem 
		padding (BASE_SPACE/4) 0
		margin-bottom BASE_SPACE
		&:before,&:after
			content ""
			position absolute
			border-style: solid
			border-width: BASE_SPACE
			top BASE_SPACE*4.5
			z-index -1
		&:before
			border-color: darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) darken(COLOR_GREEN,10%) darken(COLOR_GREEN,10%)  
			right 15%
		&:after
			border-color: darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) 
			left 15%
		/** ./END Style 2 ***/

	// Menu button
	& > #showMenu , & > #showSocial 
		color COLOR_WHITE
		square(3rem)
		z-index 3
		font-size BASE_SPACE*2
		text-decoration none
		padding-top .3rem
		& span
			transition transform ease 0.6s
	& > #showMenu 
		transition all ease 0.3s
		background-color COLOR_THEME
		position: fixed
		left 0
	& > #showSocial 
		position  absolute
		right 0

/******************* navigation ***************/
.menu 
	background-color COLOR_DARK
	position fixed
	overflow-x scroll
	text-shadow -(BASE_SPACE) 0 BASE_SPACE -(BASE_SPACE) rgba(0, 0, 0, 0.25) inset
	box-shadow : inset -4px 0 15px 0 rgba(0,0,0,0.75) 
	& > img
		display  block
		width 40%
		margin  .5rem auto
		background-color   COLOR_WHITE 
		border-radius   50% 
		border   .4rem solid rgba(0, 0, 0, .75) 
		box-shadow   0 0 0.2rem 0.1rem rgba(255,255,255,.5)
	& > a 
		display  block
		padding-left  1rem
		border-bottom  2px solid lighten(COLOR_DARK, 10%)
		color  darken(COLOR_WHITE, 20%)
		line-height  2
		text-decoration none
		font-size 1.2rem
		&:first-child
			border-top  2px solid lighten(COLOR_DARK, 10%)
		& > span
			font-size  1.2rem
			text-align  center
			margin-right  BASE_SPACE
	& > ul
		display  block
		margin-top  BASE_SPACE*3 
		font-size  0
		color  darken(COLOR_WHITE, 20%)
		&:before
			content  "Encuentranos en "
			display  block
			text-align  center
			font-size  1.2rem
		& > li
			display  inline-block
			font-size  1.2rem
			text-align  center
			width  (100/7)%
			& a 
				color  COLOR_WHITE
				text-decoration none



.menu-vertical
	width wNav
	height 100%
	top 0
	z-index 3

.menu-left 
	left -(wNav)
	&.menu-open
		left 0

.menu-push
	overflow-x hidden
	position relative
	left 0

.menu-push-toright
	left wNav

.menu,.menu-push
	transition  all 0.3s ease

/********************* Menu social ************************************/
.social
	clearfix()
	width 11rem
	background-color COLOR_DARK
	position: absolute
	right 0
	top -20rem
	transition top ease 0.6s
	z-index 1
	border-radius .2rem 0 .2rem .2rem 
	& a 
		float left 
		display block
		square(2.5rem)
		text-align center
		font-size 2rem
		color COLOR_WHITE
		margin .5rem
		/*
		& .fa-facebook
			color #3b5998
		& .fa-twitter
			color #00aced
		& .fa-youtube
			color #bb0000
		& .fa-pinterest
			color #cb2027
		& .fa-foursquare
			color #0072b1
		& .fa-google-plus
			color #dd4b39
		*/

.open-social
	top 3rem
.rotate-arrow-open
	transform rotate(180deg)
.rotate-arrow-open-nav
	transform rotate(90deg)
