@import "__constants/variables.styl"
@import "__constants/mixins.styl"

/*********************** HEADER ***********************************************/

[role="header"]
	display block
	text-align center
	clearfix()
	// Tittle
	& h1 
		color COLOR_WHITE
		padding (BASE_SPACE/2) 0
		background-color COLOR_THEME
		margin-bottom BASE_SPACE
	& h2
		
		/********* Style 1 - Tag Rotate ********
		position absolute
		right -15%
		top BASE_SPACE
		background-color COLOR_WHITE
		color COLOR_THEME
		padding (BASE_SPACE/2) 0
		width 50%
		transform rotate(45deg)
		*/

		/********* Style 2 - Ribbon ********/
		background-color COLOR_GREEN
		color COLOR_WHITE
		width 60%
		block-center()
		border-radius .1rem 
		padding (BASE_SPACE/4) 0
		margin-bottom BASE_SPACE
		&:before,&:after
			content ""
			position absolute
			border-style: solid
			border-width: BASE_SPACE
			top BASE_SPACE*4.5
			z-index -1
		&:before
			border-color: darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) darken(COLOR_GREEN,10%) darken(COLOR_GREEN,10%)  
			right 15%
		&:after
			border-color: darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) 
			left 15%
		/** ./END Style 2 ***/
	// Menu button
	& > #showMenu 
		color COLOR_WHITE
		position  absolute
		top (BASE_SPACE/4)
		left BASE_SPACE
		font-size BASE_SPACE*2
		text-decoration none
	// Pre COREISC Date
	& time, & address
		display block
		float left
		width 40%
		margin-top 2.5rem
		color COLOR_WHITE
		& a ,&>strong
			position relative
			//top -(BASE_SPACE/1.5)
			color COLOR_WHITE
			font-style normal
		& span 
			display inline-block
			color COLOR_THEME
			text-align center
			square(3rem)
			border-radius 50%
			font-size 2rem
			background-color COLOR_WHITE
			padding (BASE_SPACE/4)
			position relative
			top -(BASE_SPACE)

	& address
		padding-left BASE_SPACE
		& span
			float left
	& time
		padding-right BASE_SPACE
		& span
			float right

	/*
	& address	
		&:before
			content ""
			position absolute
			height 17rem
			border-top (BASE_SPACE/4) solid COLOR_WHITE
			border-left (BASE_SPACE/4) solid COLOR_WHITE
			width 50%
			left 5%
	& time	
		&:before
			content ""
			position absolute
			height 17rem
			border-top (BASE_SPACE/4) solid COLOR_WHITE
			border-right (BASE_SPACE/4) solid COLOR_WHITE
			width 50%
			right 5%
	*/
	// Logo X COREISC
	& img 
		position relative
		float left
		width 20%
		z-index  2
		vertical-align middle
		&.unprg
			margin 5% (15/2)% 
		&.xcoreisc
			border-radius 50%
			width 30%
		&.apeisc
			margin 5% (15/2)% 


/******************* navigation ***************/
.menu 
	background-color COLOR_DARK
	position fixed
	overflow-x scroll
	text-shadow -(BASE_SPACE) 0 BASE_SPACE -(BASE_SPACE) rgba(0, 0, 0, 0.25) inset
	box-shadow : inset -4px 0 15px 0 rgba(0,0,0,0.75) 
	& > img
		display  block
		width 40%
		margin  .5rem auto
		background-color   COLOR_WHITE 
		border-radius   50% 
		border   .4rem solid rgba(0, 0, 0, .75) 
		box-shadow   0 0 0.2rem 0.1rem rgba(255,255,255,.5)
	& > a 
		display  block
		padding-left  2rem
		border-bottom  2px solid lighten(COLOR_DARK, 10%)
		color  darken(COLOR_WHITE, 20%)
		line-height  2
		text-decoration none
		font-size 1.2rem
		&:first-child
			border-top  2px solid lighten(COLOR_DARK, 10%)
		& > span
			font-size  1.5rem
			text-align  center
			margin-right  BASE_SPACE
	& > ul
		display  block
		margin-top  BASE_SPACE*3 
		font-size  0
		color  darken(COLOR_WHITE, 20%)
		&:before
			content  "Encuentranos en "
			display  block
			text-align  center
			font-size  1.5rem
		& > li
			display  inline-block
			font-size  1.5rem
			text-align  center
			width  (100/7)%
			& a 
				color  COLOR_WHITE
				text-decoration none

.menu-vertical
	width 240px
	height 100%
	top 0
	z-index 3

.menu-left 
	left -240px
	&.menu-open
		left 0

.menu-push
	overflow-x hidden
	position relative
	left 0

.menu-push-toright
	left 240px

.menu,.menu-push
	transition  all 0.3s ease



.navbar
	text-align center
	& a 
		float left
		width 20%
		padding BASE_SPACE 0
		background-color COLOR_WHITE
	& .fa
		font-size 2rem 
		color COLOR_THEME