@import "__constants/variables.styl"
@import "__constants/mixins.styl"

@media only screen and (min-width: 768px) 
	.leyenda
		display none
	.cronograma
		table
			background-color transparent
			display table
			border-collapse separate
			border-spacing 1rem
			& tr 
				display table-row
				border-bottom none
				font-size BASE_SPACE
				&:first-child td:nth-child(2),&:nth-child(5) td:nth-child(2),&:last-child td:nth-child(2)
					background-color COLOR_WHITE
				&:nth-child(2) td:nth-child(2), &:nth-child(3) td:nth-child(2), &:nth-child(6) td:nth-child(2)
				&:nth-child(7) td:nth-child(2), &:nth-child(8) td:nth-child(2)
					background-color COLOR_WHITE
				&:nth-child(4) td:nth-child(2)
					background-color COLOR_WHITE
				&:last-child
					& td
						&:first-child
							& span
								&:after
									border-left none !important
									height 0 !important

			& td 
				display table-cell !important
				width auto !important
				border-radius (BASE_SPACE/4)
				&:first-child
					background-color transparent
					& span 
						position relative !important
						background-color COLOR_WHITE
						cursor pointer
						display block
						square(4rem)
						border-radius 50%
						padding (BASE_SPACE*0.8) 0
						border (BASE_SPACE/2) solid COLOR_PURPLE
						&:before
							font-family FontAwesome
							content: "\f0d9"
							position absolute
							left 3.5rem
							margin-top -1.3rem
							font-size 4rem
							color COLOR_WHITE
						&:after
							content ""
							position absolute
							height 12rem
							border-left (BASE_SPACE/2) solid COLOR_PURPLE
							width 4rem
							left 1.2rem
							z-index -1
				&:nth-child(2),&:nth-child(3),&:nth-child(4)
					background-color COLOR_WHITE !important
					border-left none !important
					border-bottom none !important

@media only screen and (min-width: 992px) 
	.navbar
		overflow hidden
		padding-top 0
	.tab
		width 50%
		float left
		& a
			margin-top 0
			text-align center
			width 100%
			display block
			z-index 2
		& >div
			opacity 1
			position: relative
			top 0
			&.place
				top 2.3rem
				padding 0 0 3rem 0
	// header 
	#showMenu
		display none
	[role="header"]
		background-image url("../images/portada/unprg.jpg")
		background-size cover 
		background-position center
		padding-bottom 0
		& h1, & h2
			background-color transparent
			position relative
			top 15rem
			color COLOR_DARK
			text-shadow 0 2px 1px COLOR_THEME
			margin 0 auto
			padding 0
			text-align center
			width 30%
			background-color COLOR_GREEN
		& h2 
			&:before,&:after
				top -1rem 
				z-index 1
				border-width: 1.5rem
			&:before
				border-color: darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) darken(COLOR_GREEN,10%) darken(COLOR_GREEN,10%)  
				right -2rem
			&:after
				border-color: darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%)   darken(COLOR_GREEN,10%) rgba(0, 0, 0, 0) 
				left -2rem
		& > a
			display block
			width 10%
			float left
			margin 0
			&:nth-of-type(2)
				margin-left (60/2)%
			&:nth-of-type(3)
				width 20%
			& img 
				display block
				margin 0 auto
				width 80%
				float none
				top 4rem
				&.xcoreisc
					width 80%
					top BASE_SPACE
					box-shadow 0 0 (BASE_SPACE/2) (BASE_SPACE/2) COLOR_DARK
	.menu 
		position absolute
		height 3rem 
		overflow hidden
		text-shadow none
		box-shadow none
		width 100%
		left 0
		font-size 0
		background-color rgba(0, 0, 0, .5)
		& > img
			display none
		& > a 
			display inline-block
			border-bottom  none
			width (100/6)%
			font-size BASE_SPACE
			text-align center
			color COLOR_WHITE
			& [class^="fa"],& [class*="fa"]
				display none

	#countdown
		position absolute
		top 20rem
		left 24.5%
		& input
			text-shadow 0 1px 1px black
		& span
			position: relative
			top -55px
			font-weight bold
			text-shadow 0 1px 1px black


@media only screen and (min-width: 1200px) 
	[role="header"]
		& > a
			& img 
				width 60%
				&.xcoreisc
					width 60%
	#countdown
		left 30%
@media only screen and (min-width: 1440px) 
	[role="header"]
		& > a
			& img 
				width 40%
				&.xcoreisc
					width 40%
	#countdown
		left 32.5%
